{%extends 'base.html'%}

{%block title%}Coding Thunder{%endblock%}


{%block content%}

<section class="container-fluid  text-light my-5 flex contact">
     <h1 class="h1 text-center text-light">Contact Us</h1>

     <form action="" class="row g-3 mt-5 contact-form">

          <div class="mb-3">
               <label for="user-name" class="form-label">User Name</label>
               <input type="text" name="user-name" placeholder="Enter your name" class="form-control">
          </div>
          <div class="mb-3">
               <label for="email" class="form-label">User Email</label>
               <input type="email" name="email" placeholder="Enter your email" class="form-control">
          </div>
          <div class="mb-3">
               <label for="message" class="form-label">Message</label>
               <textarea class="form-control" name="message" placeholder="Enter your message" rows="6"></textarea>
          </div>
          <button type="submit" class="btn mt-5"> Send Message</button>
     </form>
</section>

{%endblock%}