{%extends 'base.html'%}

{%block title%}Coding Thunder{%endblock%}

{%block content%}


<div class="flex container dashboard">
     <h1 class="h1 text-center text-light my-5">Dashboard</h1>
     <div class="wrapper flex">
          <a href="/create/blog" class="box flex rounded p-3 text-success">
               <i class="fa-solid fa-plus"></i>
               Create Blog
          </a>
          <a href="/all-blogs" class="box flex rounded p-3 text-success">
               <i class="fa-solid fa-image"></i>
               All Blogs
     </div>
</div>
</div>
{%endblock%}