{%extends 'base.html'%}

{%block title%}Coding Thunder{%endblock%}

{%block content%}
<!-- hero section -->
<section class="container-fluid hero-section flex">
     <h4 class="h4 tracking-in-contract text-center">
          Welcome to
     </h4>
     <h1 class="h1 tracking-in-contract text-center">Coding Thunder</h1>
     <button class="btn btn-lg mt-5 scale-in-center flex">Learn More <i class="fa-solid fa-arrow-right"></i></button>
</section>


<!-- blogs section -->
<section class="container blogs mb-5">
     <h1 class="h1 flex text-light my-5">Our Blogs</h1>

     <div class="row flex gap-5 blog-container">
     </div>
</section>

{%endblock%}

{%block script%}
<script src="../static/js/blogs.js"></script>

{%endblock%}